<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>tinder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link data-react-helmet="true" rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/assets/homelogin/homelogin2.css" rel="stylesheet">
    <link href="/assets/homelogin/homelogin3.css" rel="stylesheet">
    <link href="/assets/homelogin/homelogin.css" rel="stylesheet">
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/utils/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/assets/homelogin/homelogin.js"></script>
<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
    <div class="container-flug" th:object="${user}">
        <div class="side-bar">
            <div class="top-side-bar d-flex justify-content-between align-items-center">
                <div class="block-avatar d-flex justify-content-between align-items-center" style="margin-left: 8px;
    border-radius: 30px;">
<!--                    <div class="avatar me-2">-->
<!--                    </div>-->
                    <img  class="avatar me-2" th:src="${user.getPhotos().get(0).getImageUrl()}" >
                    <label class="name-acount" th:text="${userprofile.fullName}" style="font-size: 20px"></label>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="acount-action"><i class="fa-solid fa-magnifying-glass"></i></div>
                    <div class="acount-action"><i class="fa-solid fa-suitcase"></i></div>
                    <div class="acount-action"><i class="fa-solid fa-shield-heart"></i></div>
                </div>
            </div>
            <div class="massage" style="background-color: #121418; height: 100%;">
                <div class="tab-massage" style=" display:  flex;">
                    <div class="tab col-6"  >
                        <button class="tab-button active" data-tab="tab1" style="width: 200px;" >Các tương hợp</button>
                    </div>
                    <div class="tab col-6" >
                        <button class="tab-button" data-tab="tab2" style="width: 200px;">Tin nhắn</button>
                    </div>
                </div>
                <div class="tab-content" style="display: block;" >
                    <div id="tab1" class="tab-pane active" >
                        <H1 style="color: white;">chi đó</H1>
                    </div>
                    <div id="tab2" class="tab-pane"  style="color: white;">
                        Nội dung cho Tab 2
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="content1">
                <div class="app">
                    <div class="content">
                    </div>
                </div>
                <div class="info">
                    <h3 th:text="${userprofile.fullName}"></h3>
                    <p> <i class="fa-solid fa-house"></i> sống ở huế</p>
                    <p> <i class="fa-solid fa-location-dot"></i> 69km</p>
                </div>
                <div class="action d-flex" style="z-index: 999;position: absolute; padding: 0 13px">
                    <button class="btn rounded-circle btn-back">
                        <i class="fa-solid fa-rotate-right fa-flip-horizontal fa-2xl back"></i>
                    </button>
                    <button class="btn rounded-circle btn-back close1" >
                        <i class="fa-solid fa-xmark fa-2xl close"></i>
                    </button>
                    <button class="btn rounded-circle btn-commen ">
                        <i class="fa-solid fa-star fa-2xl comment"></i>
                    </button>
                    <button class="btn rounded-circle btn-heart">
                        <i class="fa-solid fa-heart fa-2xl heart"></i>
                    </button>
                    <button class="btn rounded-circle btn-ratings">
                        <i class="fa-solid fa-bolt fa-2xl rating"></i>
                    </button>
                </div>
            </div>
            <div class="bottom-button d-flex">
                <button class="btn btn-success" id="hidebutton" onclick="hidebutton()">Ẩn
                </button>
                <div>
                    <i class="fa-solid fa-arrow-left"></i>
                    không
                </div>
                <div>
                    <i class="fa-solid fa-arrow-right"></i>
                    Thích
                </div>
                <div>
                    <i class="fa-solid fa-arrow-up"></i>
                    Mở hồ sơ
                </div>
                <div>
                    <i class="fa-solid fa-arrow-down"></i>
                    Đóng hồ sơ
                </div>
                <div>
                    <i class="fa-solid fa-right-to-bracket"></i>
                    Siêu thích
                </div>
                <div>
                    <i class="fas fa-arrows-alt-h" ></i>
                    Ảnh tiếp theo
                </div>
            </div>
        </div>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>
<script>
    // ------------tab------------------
    // Lấy tất cả các nút tab
    const tabButtons = document.querySelectorAll('.tab-button');
    // Lấy tất cả các nội dung tab
    const tabPanes = document.querySelectorAll('.tab-pane');
    // Thêm sự kiện click cho mỗi nút tab
    tabButtons.forEach(button => {
        button.addEventListener('click', () => {
            // Xóa class 'active' khỏi tất cả các nút tab
            tabButtons.forEach(button => button.classList.remove('active'));
            // Xóa class 'active' khỏi tất cả các nội dung tab
            tabPanes.forEach(pane => pane.classList.remove('active'));
            // Thêm class 'active' vào nút tab được click
            button.classList.add('active');
            // Lấy giá trị thuộc tính data của nút tab
            const tabId = button.getAttribute('data-tab');
            // Tìm nội dung tab tương ứng và thêm class 'active' vào nó
            const tabPane = document.getElementById(tabId);
            tabPane.classList.add('active');
        });
    });

    function hidebutton(){
        const bottomButton = document.querySelector(".bottom-button");
        bottomButton.classList.toggle("show-hidden-btn");

        const hideButton = document.querySelector(".bottom-button button");
        if (bottomButton.classList.contains("show-hidden-btn")) {
            hideButton.textContent = "Hiển thị";
            const iconDivs = document.querySelectorAll(".bottom-button > div:not(:first-child)");
            iconDivs.forEach((div) => div.classList.add("hidden"));
        } else {
            hideButton.textContent = "Ẩn";
            const iconDivs = document.querySelectorAll(".bottom-button > div:not(:first-child)");
            iconDivs.forEach((div) => div.classList.remove("hidden"));
        }
    }

</script>
</html>