<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>tinder</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link data-react-helmet="true" rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="/assets/homelogin/homelogin2.css" rel="stylesheet">
    <link href="/assets/homelogin/homelogin3.css" rel="stylesheet">
    <link href="/assets/homelogin/homelogin.css" rel="stylesheet">
    <link href="/assets/homelogin/profileUser.css" rel="stylesheet">
    <script src="/webjars/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
          integrity="sha512-YbGv5MBK10IuIK3gYYdL50LyvhH1zsewzFnyeby6zW+pxYlZHsOwUhs1vbcdlYp0ybB9G6RYqSMtGAd/HIhIw=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>

</head>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/plugins/CSSPlugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/easing/EasePack.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/utils/Draggable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="/assets/homelogin/homelogin.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">
<link href='https://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.all.min.js"></script>

<div class="container-flug" th:object="${user}">
    <div class="side-bar">
        <div class="top-side-bar d-flex justify-content-between align-items-center">
            <div class="block-avatar d-flex justify-content-between align-items-center" style="margin-left: 8px;
    border-radius: 30px;">

                <a href="/profile" style="display: contents">
                    <img class="avatar me-2" th:src="${user.getPhotos().get(0).getImageUrl()}">
                    <label class="name-acount" th:text="${userprofile.fullName}" style="font-size: 20px"></label>
                    <input type="hidden" id="idcurrent" th:value="${user.id}">
                    <input type="hidden" id="username-current" th:value="${user.username}">
                    <input type="hidden" id="full-name-current" th:value="${userprofile.fullName}">
                    <input type="hidden" id="url-img-current" th:value="${user.getPhotos().get(0).getImageUrl()}">
                </a>

            </div>
            <div class="d-flex justify-content-between align-items-center">
                <button class="acount-action" onclick="showCategory()"><i class="fa-solid fa-magnifying-glass"></i>
                </button>
                <div class="acount-action"><i class="fa-solid fa-suitcase"></i></div>
                <div class="acount-action"><i class="fas fa-crown" id="vipAccount"></i></div>
            </div>
        </div>
        <div class="massage" style="background-color: #121418; height: 100%;" id="massage">
            <div class="tab-massage" style=" display:  flex;">
                <div class="tab col-6">
                    <button class="tab-button active" data-tab="tab1" onclick="showMatches()" style="width: 200px;">Các
                        tương hợp
                    </button>
                </div>
                <div class="tab col-6">
                    <button class="tab-button" data-tab="tab2" onclick="showMessage()" style="width: 200px;">Tin nhắn
                    </button>
                </div>
            </div>
            <div class="tab-content" style="display: block;">
                <div id="tab1" class="tab-pane active row">


                </div>
                <div id="tab2" class="tab-pane" style="color: white;">
                    <!--                    <div class="chat-container">-->
                    <!--                        <div class="chat-header">Chat with <span id="chatUsername"></span></div>-->
                    <!--                        <div class="chat-messages" id="chatMessages"></div>-->
                    <!--                        <div class="chat-input">-->
                    <!--                            <input type="text" id="messageInput" placeholder="Type a message...">-->
                    <!--                            <button id="sendMessageBtn">Send</button>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
        <div class="search-category" id="search-category">
            <div class="interest-card"></div>
            <div class="scrollbar4" >
                <div class="search-item">
                    <a class="search-link" style="background-color: #670a8a;;" onclick="chooseInterest('DRINK')">
                        <img class="category-img"
                             src="https://get.pxhere.com/photo/glass-drink-cocktail-martini-liqueur-cosmopolitan-alcoholic-beverage-distilled-beverage-4954.jpg"
                             alt="">
                        <div class="search-content">
                            <p style="color: aliceblue;">Thích ăn nhậu</p>

                        </div>
                    </a>
                </div>
                <div class="search-item">
                    <a class="search-link" style="background-color: #670a8a;;" onclick="chooseInterest('SPORTS')">
                        <img class="category-img"
                             src="https://shopvnb.com/uploads/images/tin_tuc/vot-cau-long-qua-cung-tac-hai-gi-cach-chon-vot-cau-long-phu-hop-1.webp"
                             alt="">
                        <div class="search-content">
                            <p style="color: aliceblue;">Yêu thể thao</p>

                        </div>
                    </a>
                </div>
                <div class="search-item">
                    <a class="search-link" style="background-color: #670a8a;;" onclick="chooseInterest('MUSIC')">
                        <img class="category-img"
                             src="https://img.pikbest.com/backgrounds/20191024/music-festival-symbol-background-image_2762753.jpg!w700wp"
                             alt="">
                        <div class="search-content">
                            <p style="color: aliceblue;">Yêu âm nhạc</p>

                        </div>
                    </a>
                </div>
                <div class="search-item">
                    <a class="search-link" style="background-color: #670a8a;;" onclick="chooseInterest('TRAVEL')">
                        <img class="category-img"
                             src="https://get.pxhere.com/photo/glass-drink-cocktail-martini-liqueur-cosmopolitan-alcoholic-beverage-distilled-beverage-4954.jpg"
                             alt="">
                        <div class="search-content">
                            <p style="color: aliceblue;">Thích du lịch</p>

                        </div>
                    </a>
                </div>
                <div class="search-item">
                    <a class="search-link" style="background-color: #670a8a;;" onclick="chooseInterest('COOKING')">
                        <img class="category-img"
                             src="https://get.pxhere.com/photo/glass-drink-cocktail-martini-liqueur-cosmopolitan-alcoholic-beverage-distilled-beverage-4954.jpg"
                             alt="">
                        <div class="search-content">
                            <p style="color: aliceblue;">Thích nấu ăn</p>

                        </div>
                    </a>
                </div>
                <div class="search-item">
                    <a class="search-link" style="background-color: #670a8a;;" onclick="chooseInterest('COFFEE')">
                        <img class="category-img"
                             src="https://get.pxhere.com/photo/glass-drink-cocktail-martini-liqueur-cosmopolitan-alcoholic-beverage-distilled-beverage-4954.jpg"
                             alt="">
                        <div class="search-content">
                            <p style="color: aliceblue;">Thích cà phê</p>

                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="tinder-notification">
        <button id="grab"></button>
        <h2 id="seeAllUsers">Bạn đã gặp hết tất cả người dùng</h2>
        <h3 id="expandAge">Vui lòng mở rộng độ tuổi để tìm thêm tương hợp</h3>
        <button id="backToDiscover">Quay lại khám phá</button>
    </div>
    <div id="default-container" class="wrapper">
        <div class="content1" id="content1">
            <div id="swiper">

                <div class="app">
                    <div class="content content-profile">
                    </div>
                </div>

            </div>

            <!--                <div class="info">-->
            <!--                    <h3 th:text="${userprofile.fullName}"></h3>-->
            <!--                    <h3 th:text="${userprofile.age}"></h3>-->
            <!--                    <p> <i class="fa-solid fa-house"></i> sống ở huế</p>-->
            <!--                    <p> <i class="fa-solid fa-location-dot"></i> 69km</p>-->
            <!--                </div>-->
            <div class="action d-flex" style="z-index: 999;position: absolute; padding: 0 13px">
                <button class="btn rounded-circle btn-back">
                    <i class="fa-solid fa-rotate-right fa-flip-horizontal fa-2xl back"></i>
                </button>
                <button class="btn rounded-circle btn-back close1">
                    <i class="fa-solid fa-xmark fa-2xl close"></i>
                </button>
                <button class="btn rounded-circle btn-commen" id="superLike">
                    <i class="fa-solid fa-star fa-2xl comment"></i>
                </button>
                <button class="btn rounded-circle btn-heart">
                    <i class="fa-solid fa-heart fa-2xl heart"></i>
                </button>
                <button class="btn rounded-circle btn-ratings">
                    <i class="fa-solid fa-bolt fa-2xl rating"></i>
                </button>
            </div>
        </div>
        <div class="bottom-button d-flex">
            <button class="btn btn-success" id="hidebutton" onclick="hidebutton()">Ẩn
            </button>
            <div>
                <i class="fa-solid fa-arrow-left"></i>
                không
            </div>
            <div>
                <i class="fa-solid fa-arrow-right"></i>
                Thích
            </div>
            <div>
                <i class="fa-solid fa-arrow-up"></i>
                Mở hồ sơ
            </div>
            <div>
                <i class="fa-solid fa-arrow-down"></i>
                Đóng hồ sơ
            </div>
            <div>
                <i class="fa-solid fa-right-to-bracket"></i>
                Siêu thích
            </div>
            <div>
                <i class="fas fa-arrows-alt-h"></i>
                Ảnh tiếp theo
            </div>
        </div>
    </div>


    <div id="message-container" class="wrapper">
        <div class="message-block">
            <div class="chat-container chat-container-hidden" id="chatContainer" style="display: none;">
                <div class="chat-header">
                    <span id="chatUsername"></span>
                    <button id="closeChatBtn" class="close-button"><i class="fa-regular fa-circle-xmark"></i></button>
                </div>


                <div class="chat-messages" id="chatMessages">

                </div>

                <div class="chat-input">

                    <!--                    <div class="scrollable">-->
                    <!--                        <div class="chat-message-wrapper">-->
                    <!--                            <div class="chat-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis scelerisque.</div>-->
                    <!--                            <div class="chat-message"></div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <input type="text" id="messageInput" placeholder="Type a message...">
                    <button id="emojiButton">😀</button>
                    <div class="emoji-container">
                        <div class="search-container">
                            <input type="search" oninput="filterEmoji()" placeholder="Tìm emoji">
                            <button class="search-button">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                        <div class="scroll-emoji">
                            <div class="noFoundEmoji">
                                <i class="far fa-frown"></i>
                                <h2>Không tìm thấy emoji</h2>
                            </div>
                            <span class="emoji-item" data-emoji="😀" data-description="Mặt cười vui vẻ"
                                  onclick="insertEmoji('😀')">😀</span>
                            <span class="emoji-item" data-emoji="😁" data-description="Mặt cười hạnh phúc"
                                  onclick="insertEmoji('😁')">😁</span>
                            <span class="emoji-item" data-emoji="😂" data-description="Cười đến té ghế"
                                  onclick="insertEmoji('😂')">😂</span>
                            <span class="emoji-item" data-emoji="🤣" data-description="Cười đến rơi nước mắt"
                                  onclick="insertEmoji('🤣')">🤣</span>
                            <span class="emoji-item" data-emoji="😃" data-description="Mặt cười tươi tắn"
                                  onclick="insertEmoji('😃')">😃</span>
                            <span class="emoji-item" data-emoji="😄" data-description="Mặt cười rạng rỡ"
                                  onclick="insertEmoji('😄')">😄</span>
                            <span class="emoji-item" data-emoji="😅" data-description="Mặt cười thoải mái"
                                  onclick="insertEmoji('😅')">😅</span>
                            <span class="emoji-item" data-emoji="😆" data-description="Mặt cười vui sướng"
                                  onclick="insertEmoji('😆')">😆</span>
                            <span class="emoji-item" data-emoji="😇" data-description="Mặt cười thiên thần"
                                  onclick="insertEmoji('😇')">😇</span>
                            <span class="emoji-item" data-emoji="😈" data-description="Mặt cười quỷ dữ"
                                  onclick="insertEmoji('😈')">😈</span>
                            <span class="emoji-item" data-emoji="👿" data-description="Mặt cười ác quỷ"
                                  onclick="insertEmoji('👿')">👿</span>
                            <span class="emoji-item" data-emoji="😉" data-description="Mặt cười nháy mắt"
                                  onclick="insertEmoji('😉')">😉</span>
                            <span class="emoji-item" data-emoji="😊" data-description="Mặt cười vui mừng"
                                  onclick="insertEmoji('😊')">😊</span>
                            <span class="emoji-item" data-emoji="😋" data-description="Mặt cười ngon miệng"
                                  onclick="insertEmoji('😋')">😋</span>
                            <span class="emoji-item" data-emoji="😌" data-description="Mặt cười thư giãn"
                                  onclick="insertEmoji('😌')">😌</span>
                            <span class="emoji-item" data-emoji="😍" data-description="Mặt cười yêu mến"
                                  onclick="insertEmoji('😍')">😍</span>
                            <span class="emoji-item" data-emoji="😎" data-description="Mặt cười ngầu"
                                  onclick="insertEmoji('😎')">😎</span>
                            <span class="emoji-item" data-emoji="😏" data-description="Mặt cười tự tin"
                                  onclick="insertEmoji('😏')">😏</span>
                            <span class="emoji-item" data-emoji="😐" data-description="Mặt cười thờ ơ"
                                  onclick="insertEmoji('😐')">😐</span>
                            <span class="emoji-item" data-emoji="😑" data-description="Mặt cười lạnh lùng"
                                  onclick="insertEmoji('😑')">😑</span>
                            <span class="emoji-item" data-emoji="❤️" data-description="Trái tim đỏ"
                                  onclick="insertEmoji('❤️')">❤️</span>
                            <span class="emoji-item" data-emoji="💛" data-description="Trái tim vàng"
                                  onclick="insertEmoji('💛')">💛</span>
                            <span class="emoji-item" data-emoji="💚" data-description="Trái tim xanh lá"
                                  onclick="insertEmoji('💚')">💚</span>
                            <span class="emoji-item" data-emoji="💙" data-description="Trái tim xanh dương"
                                  onclick="insertEmoji('💙')">💙</span>
                            <span class="emoji-item" data-emoji="💜" data-description="Trái tim tím"
                                  onclick="insertEmoji('💜')">💜</span>
                            <span class="emoji-item" data-emoji="🧡" data-description="Trái tim cam"
                                  onclick="insertEmoji('🧡')">🧡</span>
                            <span class="emoji-item" data-emoji="💔" data-description="Trái tim tan vỡ"
                                  onclick="insertEmoji('💔')">💔</span>
                            <span class="emoji-item" data-emoji="💕" data-description="Trái tim hai mảnh ghép"
                                  onclick="insertEmoji('💕')">💕</span>
                            <span class="emoji-item" data-emoji="💖" data-description="Trái tim vòng hoa"
                                  onclick="insertEmoji('💖')">💖</span>
                            <span class="emoji-item" data-emoji="💗" data-description="Trái tim tình yêu"
                                  onclick="insertEmoji('💗')">💗</span>
                            <span class="emoji-item" data-emoji="🐶" data-description="Hình con chó"
                                  onclick="insertEmoji('🐶')">🐶</span>
                            <span class="emoji-item" data-emoji="🐱" data-description="Hình con mèo"
                                  onclick="insertEmoji('🐱')">🐱</span>
                            <span class="emoji-item" data-emoji="🐼" data-description="Hình con gấu trúc"
                                  onclick="insertEmoji('🐼')">🐼</span>
                            <span class="emoji-item" data-emoji="🐯" data-description="Hình con hổ"
                                  onclick="insertEmoji('🐯')">🐯</span>
                            <span class="emoji-item" data-emoji="🦁" data-description="Hình con sư tử"
                                  onclick="insertEmoji('🦁')">🦁</span>
                            <span class="emoji-item" data-emoji="🐵" data-description="Hình con khỉ"
                                  onclick="insertEmoji('🐵')">🐵</span>
                            <span class="emoji-item" data-emoji="🐘" data-description="Hình con voi"
                                  onclick="insertEmoji('🐘')">🐘</span>
                            <span class="emoji-item" data-emoji="🦄" data-description="Hình ngựa một sừng"
                                  onclick="insertEmoji('🦄')">🦄</span>
                            <span class="emoji-item" data-emoji="🐢" data-description="Hình con rùa"
                                  onclick="insertEmoji('🐢')">🐢</span>
                            <span class="emoji-item" data-emoji="🦔" data-description="Hình con nhím"
                                  onclick="insertEmoji('🦔')">🦔</span>
                            <span class="emoji-item" data-emoji="🍔" data-description="Hình bánh mỳ kẹp thịt"
                                  onclick="insertEmoji('🍔')">🍔</span>
                            <span class="emoji-item" data-emoji="🍕" data-description="Hình bánh pizza"
                                  onclick="insertEmoji('🍕')">🍕</span>
                            <span class="emoji-item" data-emoji="🍟" data-description="Hình khoai tây chiên"
                                  onclick="insertEmoji('🍟')">🍟</span>
                            <span class="emoji-item" data-emoji="🍦" data-description="Hình kem"
                                  onclick="insertEmoji('🍦')">🍦</span>
                            <span class="emoji-item" data-emoji="🍪" data-description="Hình bánh quy"
                                  onclick="insertEmoji('🍪')">🍪</span>
                            <span class="emoji-item" data-emoji="🍫" data-description="Hình sô cô la"
                                  onclick="insertEmoji('🍫')">🍫</span>
                            <span class="emoji-item" data-emoji="🍩" data-description="Hình bánh rán"
                                  onclick="insertEmoji('🍩')">🍩</span>
                            <span class="emoji-item" data-emoji="🍓" data-description="Hình dâu tây"
                                  onclick="insertEmoji('🍓')">🍓</span>
                            <span class="emoji-item" data-emoji="🍎" data-description="Hình quả táo"
                                  onclick="insertEmoji('🍎')">🍎</span>
                            <span class="emoji-item" data-emoji="💼" data-description="Hình cặp tài liệu"
                                  onclick="insertEmoji('💼')">💼</span>
                            <span class="emoji-item" data-emoji="💻" data-description="Hình máy tính"
                                  onclick="insertEmoji('💻')">💻</span>
                            <span class="emoji-item" data-emoji="📱" data-description="Hình điện thoại di động"
                                  onclick="insertEmoji('📱')">📱</span>
                            <span class="emoji-item" data-emoji="📚" data-description="Hình sách"
                                  onclick="insertEmoji('📚')">📚</span>
                            <span class="emoji-item" data-emoji="✏️" data-description="Hình bút chì"
                                  onclick="insertEmoji('✏️')">✏️</span>
                            <span class="emoji-item" data-emoji="📝" data-description="Hình viết"
                                  onclick="insertEmoji('📝')">📝</span>
                            <span class="emoji-item" data-emoji="🗂️" data-description="Hình tài liệu"
                                  onclick="insertEmoji('🗂️')">🗂️</span>
                            <span class="emoji-item" data-emoji="📅" data-description="Hình lịch"
                                  onclick="insertEmoji('📅')">📅</span>
                            <span class="emoji-item" data-emoji="📎" data-description="Hình bấm giấy"
                                  onclick="insertEmoji('📎')">📎</span>
                            <span class="emoji-item" data-emoji="🔒" data-description="Hình khóa"
                                  onclick="insertEmoji('🔒')">🔒</span>
                        </div>
                        <hr class="divider">
                        <div id="show-icon-hover"></div>
                    </div>
                    <button id="sendMessageBtn" onclick="handleSubmitMessage()">Send</button>
                </div>
                <input type="hidden" id="receiverId">

            </div>
        </div>
        <div class="message-profile-block" id="profileBlock" >
            <div class="scrollbar3" id="style-default">
            </div>
        </div>
    </div>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>

<!-- Thư viện StompJS -->
<script src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
</body>
<script>
    // var stompClient = null;
    //
    // function connect() {
    //     var socket = new SockJS('/ws');
    //     stompClient = Stomp.over(socket);
    //     stompClient.connect({}, function(frame) {
    //         console.log('Connected: ' + frame);
    //         stompClient.subscribe('/queue/messages', function(message) {
    //             var messageDto = JSON.parse(message.body);
    //             showMessage(messageDto.senderId, messageDto.content);
    //         });
    //     });
    // }
    //
    // function disconnect() {
    //     if (stompClient !== null) {
    //         stompClient.disconnect();
    //     }
    //     console.log("Disconnected");
    // }
    //
    // function sendMessage() {
    //     var receiverUsername = document.getElementById("receiver-username").value;
    //     var content = document.getElementById("message-input").value;
    //     var message = {
    //         receiverUsername: receiverUsername,
    //         content: content
    //     };
    //     stompClient.send("/app/sendMessage", {}, JSON.stringify(message));
    //     document.getElementById("message-input").value = "";
    // }
    //
    // function showMessage(senderId, content) {
    //     var chatMessages = document.getElementById("chat-messages");
    //     var listItem = document.createElement("li");
    //     listItem.innerText = "User " + senderId + ": " + content;
    //     chatMessages.appendChild(listItem);
    // }
    //
    // window.onload = function() {
    //     connect();
    // };


    // ------------tab------------------
    // Lấy tất cả các nút tab
    const tabButtons = document.querySelectorAll('.tab-button');
    // Lấy tất cả các nội dung tab
    const tabPanes = document.querySelectorAll('.tab-pane');
    // Thêm sự kiện click cho mỗi nút tab
    tabButtons.forEach(button => {
        button.addEventListener('click', () => {
            // Xóa class 'active' khỏi tất cả các nút tab
            tabButtons.forEach(button => button.classList.remove('active'));
            // Xóa class 'active' khỏi tất cả các nội dung tab
            tabPanes.forEach(pane => pane.classList.remove('active'));
            // Thêm class 'active' vào nút tab được click
            button.classList.add('active');
            // Lấy giá trị thuộc tính data của nút tab
            const tabId = button.getAttribute('data-tab');
            // Tìm nội dung tab tương ứng và thêm class 'active' vào nó
            const tabPane = document.getElementById(tabId);
            tabPane.classList.add('active');
        });
    });

    function hidebutton() {
        const bottomButton = document.querySelector(".bottom-button");
        bottomButton.classList.toggle("show-hidden-btn");

        const hideButton = document.querySelector(".bottom-button button");
        if (bottomButton.classList.contains("show-hidden-btn")) {
            hideButton.textContent = "Hiển thị";
            const iconDivs = document.querySelectorAll(".bottom-button > div:not(:first-child)");
            iconDivs.forEach((div) => div.classList.add("hidden"));
        } else {
            hideButton.textContent = "Ẩn";
            const iconDivs = document.querySelectorAll(".bottom-button > div:not(:first-child)");
            iconDivs.forEach((div) => div.classList.remove("hidden"));
        }
    }

    function showMessage() {
        document.getElementById("tab1").style.display = 'none'
    }


    function showMatches() {
        document.getElementById("tab2").style.display = 'none'
        document.getElementById("tab1").style.display = 'flex'
        document.getElementById("tab1").style.flexWrap = 'wrap'
    }

    document.getElementById("messageInput").addEventListener("input", function () {
        var inputText = this.value.trim();

        var sendMessageBtn = document.getElementById("sendMessageBtn");

        if (inputText !== "") {
            sendMessageBtn.classList.add("active");
        } else {
            sendMessageBtn.classList.remove("active");
        }
    });


</script>
<script>
    const emojiButton = document.getElementById('emojiButton');
    const emojiContainer = document.querySelector('.emoji-container');
    const showIconHover = document.getElementById('show-icon-hover');

    const emojiItems = document.querySelectorAll('.emoji-item');
    document.addEventListener('DOMContentLoaded', () => {



        emojiItems.forEach(item => {
            item.addEventListener('mouseover', () => {
                const emoji = item.dataset.emoji; // Lấy nội dung emoji từ thuộc tính data-emoji
                const description = item.dataset.description;
                showIconHover.innerText = `${emoji}: ${description}`; // Đặt nội dung emoji vào div show-icon-hover
            });

            item.addEventListener('mouseout', () => {
                showIconHover.innerHTML = ''; // Xóa nội dung khi rời chuột khỏi icon
            });
        });

        emojiButton.addEventListener('click', () => {
            if (emojiContainer.style.display === 'none') {
                emojiContainer.style.display = 'block';
                emojiContainer.classList.toggle('show')
            } else {
                emojiContainer.style.display = 'none';
            }
        });
    });

    function insertEmoji(emoji) {
        const messageInput = document.getElementById('messageInput');
        messageInput.value += emoji;
    }

    document.addEventListener('click', (event) => {
        // Kiểm tra nếu sự kiện click không phát sinh từ emojiButton hoặc các phần tử con của emojiContainer, thì ẩn emojiContainer đi

        if (!emojiButton?.contains(event.target) && !emojiContainer?.contains(event.target)) {
            emojiContainer.style.display = 'none';
        }

        // if (!emojiButton.contains(event.target) && !emojiContainer.contains(event.target)) {
        //     emojiContainer.style.display = 'none';
        // }

    });

    function filterEmoji() {
        var input, filter, emojiContainer, emojiItems, noFoundEmoji;
        input = document.querySelector('input[type="search"]');
        filter = input.value.toUpperCase();
        emojiContainer = document.querySelector('.scroll-emoji');
        emojiItems = emojiContainer.getElementsByClassName('emoji-item');
        noFoundEmoji = document.querySelector('.noFoundEmoji');

        var foundEmoji = false;

        for (var i = 0; i < emojiItems.length; i++) {
            var description = emojiItems[i].getAttribute('data-description').toUpperCase();
            if (description.indexOf(filter) > -1) {
                emojiItems[i].style.display = '';
                foundEmoji = true;
            } else {
                emojiItems[i].style.display = 'none';
            }
        }

        if (foundEmoji) {
            noFoundEmoji.style.display = 'none';
        } else {
            noFoundEmoji.style.display = 'block';
        }
    }


    document.getElementById("vipAccount").addEventListener("click", function () {
        const idCurrentUser = document.getElementById("idcurrent").value;
        $.ajax({
            url: "api/users/isVipAccount",
            method: "GET",
            data: {
                userId: idCurrentUser,
            },
            success: function (isVip) {
                if (isVip){
                    swal.fire({
                        icon: 'info',
                        title: 'Tài khoản VIP',
                        text: 'Bạn đã là tài khoản VIP rồi.',
                    });
                } else {
                    swal.fire({
                        icon: "warning",
                        title: "Xác nhận nâng cấp tài khoản",
                        text: "Bạn có muốn nâng cấp tài khoản thành VIP?",
                        showCancelButton: true,
                        confirmButtonText: "Nâng cấp tài khoản",
                        cancelButtonText: "Hủy",
                        reverseButtons: true,
                    }).then((result) => {
                        // Nếu người dùng bấm nút "Nâng cấp tài khoản"
                        if (result.isConfirmed) {
                            // Gọi API để nâng cấp tài khoản
                            $.ajax({
                                url: "/api/users/upgradeAccount",
                                method: "POST",
                                data: {
                                    userId: idCurrentUser,
                                },
                                success: function (response) {
                                    swal.fire({
                                        icon: "success",
                                        title: "Nâng cấp tài khoản thành công!",
                                        text: "Tài khoản của bạn đã được nâng cấp thành VIP.",
                                    });
                                },
                                error: function (error) {
                                    swal.fire({
                                        icon: "error",
                                        title: "Lỗi",
                                        text: "Đã có lỗi xảy ra khi nâng cấp tài khoản. Vui lòng thử lại sau.",
                                    });
                                },
                            });
                        }
                    });
                }
            }
        })
    });
    function chooseInterest(interest) {
        console.log(interest)
        $.ajax({
            url: "/api/users/getUserCategory/" + interest,
            method: "GET",
            success: function (user) {
                console.log("List user", user)
            },
            error: function (error) {
                console.log("Lỗi khi lấy thông tin người gửi");
            }
        });
    }
    // function showCategory() {
    //     event.preventDefault();
    //     console.log(123)
    //     const searchCategory = document.getElementById("search-category");
    //     const massage = document.getElementById("massage")
    //     searchCategory.style.display = "flex";
    //     massage.style.display = "none"
    // }

    let isSearchCategoryVisible = false;
    function showCategory() {
        event.preventDefault();
        console.log(123)
        const searchCategory = document.getElementById("search-category");
        const massage = document.getElementById("massage")
        if (!isSearchCategoryVisible) {
            // Hiển thị searchCategory nếu nó chưa được hiển thị
            searchCategory.style.display = "flex";
            massage.style.display = "none";
            isSearchCategoryVisible = true;
        } else {
            // Hiển thị massage nếu searchCategory đã được hiển thị
            searchCategory.style.display = "none";
            massage.style.display = "block";
            isSearchCategoryVisible = false;
        }
    }







</script>


</html>