
.loadding{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #fd326b, #ff5543);
}
.loadding > img{
    width: 100px;
    height: 100px;
    transition: ease all 0.5s;
}

.btn-register {
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to bottom right, #fd326b, #ff5543);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
}

.btn-register:hover {
    background-image: linear-gradient(to bottom right, #fd5071, #ff6e54);
}

.btn-login {
    font-size: 14px;
    color: white;
    background-color: #fd326b;
    border: none;
    padding: 8px 16px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #ff5543;
}

.demo {
    z-index: 999;
}

#swiperight {
    position: absolute;
    top: calc(50% - 63px);
    width: 100Vw;
    z-index: 1;
}

body {
    background-image: url(https://tinder.com/static/build/744fe6d80266616aba687006b7d764ad.webp);
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1.5;
}
navbar {
    background-color: #fff;
}

.navbar-nav {
    margin-left: auto;
}

.nav-item {
    margin-right: 15px;
}

.nav-link {
    color: #333;
    font-weight: bold;
}

.nav-link:hover {
    color: #fd326b;
}

.dropdown-menu {
    background-color: #fff;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: #333;
}

.dropdown-item:hover {
    background-color: #fd326b;
    color: #fff;
}

.dropdown-divider {
    border-top-color: #fd326b;
}


.navbar img {
    height: 150px;
    width: 200px;
    margin-right: 10px;
}

.showbar{
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-left: 20px;
}
body {
    background-image: url(https://tinder.com/static/build/744fe6d80266616aba687006b7d764ad.webp);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
}

#home {
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar-nav {
    margin-right: auto;
}

.btn-login {
    margin-left: auto;
}

.btn-register {
    font-size: 20px;
    color: white;
    background-image: linear-gradient(to bottom right, #fd326b, #ff5543);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-image 0.3s, transform 0.3s;
}

.btn-register:hover {
    background-image: linear-gradient(to bottom right, #fd5071, #ff6e54);
    transform: scale(1.15);
}

.btn-login {
    background-color: #fd326b;
    color: white;
    font-weight: bold;
    padding: 10px 24px;
    font-size: 18px;
    border: none;
    border-radius: 50px;
    transition: background-color 0.3s ease;
    cursor: pointer;
    transition: background-image 0.3s, transform 0.3s;
}

.btn-login:hover {
    background-color: #ff5543;
    transform: scale(1.15);
}

.login-form {
    display: block;
    flex-direction: column;
    align-items: center;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 300px;
    margin-bottom: 10px;
}

.login-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    z-index: 9999;
    display: none;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.login-form h3 {
    margin-bottom: 10px;
    color: #fd326b;
}

.login-form form input {
    margin-bottom: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-form form button {
    padding: 10px 20px;
    background-image: linear-gradient(to bottom right, #fd326b, #ff5543);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form form button:hover {
    background-image: linear-gradient(to bottom right, #ff5543, #fd326b);
}
.btn-close {
    background-color: transparent;
    border: none;
    color: #fd326b;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
.additional-options {
    margin-bottom: 10px;
}

.additional-options label {
    display: inline-block;
    margin-right: 10px;
}

.additional-options a {
    text-decoration: none;
    color: blue;
}

.login-form form button {
    background-image: none;
}
.login-form form button:hover {
    background-image:none;
}

.social-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.login-form  .submit{
    background-image: linear-gradient(to bottom right, #fd326b, #ff5543);
}
.login-form  .submit:hover{
    background-image: linear-gradient(to bottom right, #ff5543, #fd326b) ;
}
.social-login button {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    background-color: #e61010;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.social-login button i {
    margin-right: 5px;

}

body .facebook-login {
    background-color: #3b5998 !important;
}

.gmail-login {
    background-color: #db4a39 !important;
}

.qr-login {
    background-color: #000 !important;
}
.social-login button:hover{
    background-color: #FF0000;
    transform: scale(1.1);
    transition: all 0.3s;
}