.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.tab-button {
    background-color: #121418;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}

.tab-button.active {
    background-color: #121418;
    color: white;
    border-bottom: 3px solid #fd267a;
}

.tab-content {
    display: none;
    padding: 20px 0;
}

.tab-content.active {
    display: block;
}

.active-img {
    border-radius: 8%;
    height: 190px;
    width: 130px;
    margin-left: 115px;
}

.active-massage {
    color: #ff6036;
;
    height: 100px;

}

/* ------------------- */

.w3-left,
.w3-right,
.w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

/* --------------------------- */

header {
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 25px;
}

#info {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-bottom: 25px;
}

a {
    color: #074E8C;
}

.scrollbar {
    margin-left: 30px;
    float: left;
    height: 300px;
    width: 65px;
    background: #F5F5F5;
    overflow-y: scroll;
    margin-bottom: 25px;
    scrollbar-width: none;
    border: 1px solid #101216;
}

.force-overflow {
    min-height: 450px;
}



/*
 *  STYLE 1
 */

#style-1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
    display: none;
}

#style-1::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #555;
    display: none;
}

.scrollbar::-webkit-scrollbar {
    width: 0;
}


.scrollbar {
    position: relative;
    width: 380px;
    height: 600px;
    background-color: #121418;
    border-radius: 12px;
    margin-top: -45px;
    margin-left: 230px;
}


.user-img {
    width: 100%;
    height: 500px;
    margin-top: -500px;
    padding: 0;
}



.wrapper,
.wrapper2  {
    height: 100%;
    margin-left: 200px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;


}

.side-bar {
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}

.avatar {
    width: 43px;
    height: 40px;
    border-radius: 50%;
    /*background-image: url(https://images-ssl.gotinder.com/0001unknown/172x172_pct_0_0_100_100_unknown.jpg);*/
    /*background-position: 50% 50%;*/
    /*background-size: auto 100%;*/
    background: transparent;
}

.block-avatar {
    border-radius: 12%;
    padding: 5px 8px;
}

.block-avatar:hover {
    scale: 1.2;
    cursor: pointer;
}

.name-acount {
    color: white;
}

.acount-action {
    padding: 8px 10px;
    background-color: #21272e;
    border-radius: 50%;
    color: white;
    margin-right: 20px;
}

.acount-action i {
    font-size: 20px;
}

.message {
    background-color: #101418;
}

.top-side-bar {
    height: 100px;
    background: linear-gradient(to top right, #fd267a, #ff6036);
}

.name-user {
    margin-left: -230px;
    color: white;
}

.info-user {
    color: white;
}

.container-flug {
    background-color: black;

}

.info-user {

    border-radius: none;
    border: none;
    margin-top: 14px;
    margin-left: 15px;
    position: absolute;
    color: white;
    margin-left: 5px
}

.interest {
    border-top: 3px solid #fd267a;
}

.edit-info {
    color: white;
    margin-bottom: 0px;
    position: fixed;
}

body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    overflow: hidden;
    background-color: black;
}

/* Safari */
body::-webkit-scrollbar {
    display: none;
}

/* Ngăn màn hình xê chuyển */
html,
body {
    height: 100%;
    margin: 0;
}

/*#namefull{*/
/*    width: max-content;*/
/*}*/
.btn-edit-info {
    width: 320px;
    margin-top: 125px;
    margin-right: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(to right, #fd267a, #ff6036);
    cursor: pointer;
    margin-left: 30px;

    /* transform: translate(-50%, -50%); */
}

.btn-edit-info:hover {
    background-image: none;
    /* background-color: #ff6036; */
    background-image: linear-gradient(to right, #f24286, #f0967d);
}
.img-all{
    margin-top: 45px;
    text-align: center;
}
.upload-wrapper{
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px;
    /* border: 1px solid #747070; */

}
.form-label{
    color: #fe4458;
    text-align: center;
}
.image-upload {
    position: relative;
    max-width: 100px;
    max-height: 120px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 10px;
}
.image-upload .preview-image {
    max-width: 100%;
    height: auto;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    max-width: 150px;
    display: none;
}

.input-upload{
    width: 106px;
}
.message-edit{
    text-align: center;
    border-bottom: 2px solid #747070;
    position: fixed;
    width: 380px;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:  #101418;
}
.text-center{
    color: #919ba6;
}

.form-control {
    width: 100%;
    background-color: #101418;
    border-left: none;
    border-right: none;
    height: 40px;
    color: white;
}

.form-control:focus {
    background-color: #101418;
    color: white;
}

.massage-edit2{
    color: white;
    margin: 15px 0;
}
.edit-info2 {
    color: white;
    margin-bottom: 0px;
}
.btn-edit-info2 {
    width: 180px;
    margin-top: 10px;
    margin-right: 20px;
    padding: 10px 10px;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(to right, #ff6036, #fd267a);
    /* cursor: pointer; */
    margin-left: 10px;

    /* transform: translate(-50%, -50%); */
}

.custom-css-class {
    display: inline-block;
    color: #6C757D;
    background-color: transparent;
    background-image: none;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 700 !important;
    margin-right: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.custom-css-class i {
    margin-left: 0.5rem;
}
.custom-css-class i:hover {
    cursor: pointer;
}
.custom-css-class:hover {
    color: #fff;
    background-color: #6C757D;
    border-color: #6C757D;
}
.custom-css-class:focus, .custom-css-class.focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
.custom-css-class.disabled, .custom-css-class:disabled {
    color: #6C757D;
    background-color: transparent;
}
.custom-css-class:not(:disabled):not(.disabled):active, .custom-css-class:not(:disabled):not(.disabled).active,
.show > .custom-css-class.dropdown-toggle {
    color: #fff;
    background-color: #6C757D;
    border-color: #6C757D;
}
.custom-css-class:not(:disabled):not(.disabled):active:focus, .custom-css-class:not(:disabled):not(.disabled).active:focus,
.show > .custom-css-class.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(108, 117, 125, 0.5);
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
    background-color: #FEFEFE;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 600px;
}
.interest-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.interest-option {
    background-color: #EAEAEA;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.interest-option:hover {
    background-color: #ddd;
}
.modal-content {
    overflow: auto;
    position: relative;
}
.d-flex.w-100 {
    width: 100%;
}
.modal-content .d-flex {
    flex-wrap: wrap;
}
.logout {
    background-color: rgba(43, 50, 59, 0.7);
    margin-top: 570px
}
