<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="header">
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/assets/register/register.css">
</head>
<body>
<div class="text-center" style="margin: 5% auto;">
    <h3>Tạo tài khoản</h3>
</div>
<form
        method="post"
        th:object="${user}"
        role="form"
        th:action="@{/register}"
>
    <div class="container " style="padding: 0 250px;">
        <br>
        <div class="row d-flex justify-content-center">
            <div style="max-width: 50%;">
                <div class="col-md-10">
                    <label for="username" class="form-label fw-bold">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Username"
                           th:field="*{username}">
                    <p th:errors="*{username}" class="text-danger"
                       th:if="${#fields.hasErrors('username')}"></p>
                </div>
                <br>
                <div class="col-md-10">
                    <label for="password" class="form-label fw-bold">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="*********"
                           th:field="*{password}">
                    <p th:errors="*{password}" class="text-danger"
                       th:if="${#fields.hasErrors('password')}"></p>
                </div>
                <br>
                <div class="col-md-10">
                    <label for="name" class="form-label fw-bold">Fullname</label>
                    <input type="text" class="form-control" id="name" placeholder="Bing Chilling"
                           th:field="*{fullName}">
                </div>
                <br>
                <div class="col-md-10">
                    <label for="email" class="form-label fw-bold">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="Love@Gmail.com"
                           th:field="*{email}">
                    <p th:errors="*{email}" class="text-danger"
                       th:if="${#fields.hasErrors('email')}"></p>
                </div>
                <br>
                <div class="col-md-10">
                    <label for="phone" class="form-label fw-bold">Phone</label>
                    <input type="number" class="form-control" id="phone" placeholder="070263****"
                           th:field="*{phone}">
                    <p th:errors="*{phone}" class="text-danger"
                       th:if="${#fields.hasErrors('phone')}"></p>
                </div>
                <br>
                <div class="col-md-10">
                    <label for="age" class="form-label fw-bold">Age</label>
                    <input type="number" class="form-control" id="age" placeholder="18"
                           th:field="*{age}">
                    <p th:errors="*{age}" class="text-danger"
                       th:if="${#fields.hasErrors('age')}"></p>
                </div>
                <br>
                <div class="col-md-10">
                    <label class="form-label fw-bold">Giới tính</label>
                    <div class="d-flex justify-content-between" th:each="gender, iterStat : ${genders}">
                        <input type="radio" class="btn-check" th:name="options" th:id="'option' + ${iterStat.index+1}" autocomplete="off"
                                th:value="${gender}" th:field="*{gender}">
                        <label style="padding: 5px 35px;" class="btn btn-outline-secondary me-2 radius fw-bold"
                               th:for="'option' + ${iterStat.index+1}" th:text="${gender}"></label>
                    </div>
                </div>
                <br>
<!--                <div class="col-md-10">-->
<!--                    <label class="form-label fw-bold">Hiển thị cho tôi</label>-->
<!--                    <div class="d-flex justify-content-between">-->
<!--                        <input type="radio" class="btn-check" name="options-2" id="show-option1" autocomplete="off">-->
<!--                        <label style="padding: 5px 35px;" class="btn btn-outline-secondary me-2 radius fw-bold"-->
<!--                               for="show-option1">Nam</label>-->
<!--                        <input type="radio" class="btn-check" name="options-2" id="show-option2" autocomplete="off">-->
<!--                        <label style="padding: 5px 40px;" class="btn btn-outline-secondary me-2 radius fw-bold"-->
<!--                               for="show-option2">Nữ</label>-->
<!--                        <input type="radio" class="btn-check" name="options-2" id="show-option3" autocomplete="off">-->
<!--                        <label style="padding: 5px 10px;" class="btn btn-outline-secondary radius fw-bold"-->
<!--                               for="show-option3">Mọi người</label>-->
<!--                    </div>-->
<!--                </div>-->
                <br>
                <div class="col-md-10">
                    <label class="form-label fw-bold">Mình đang tìm</label><br>
                    <button type="button" class="btn btn-outline-secondary radius fw-bold"><i
                            class="fas fa-plus"></i>
                        Thêm mục đích hẹn hò
                    </button>
                </div>
            </div>
            <div style="max-width: 50%;">
                <label class="form-label fw-bold">Ảnh hồ sơ</label><br>
                <div class="d-flex justify-content-evenly">
                    <div class="image-upload">
                        <label for="file-input">
                            <img id="preview-image" src="https://via.placeholder.com/100x150" width="100px"
                                 height="150px"
                            >
                        </label>
                        <div class="center">
                            <input id="file-input" type="file"
                                   onchange="document.getElementById('preview-image').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                    </div>
                    <div class="image-upload">
                        <label for="file-input-2">
                            <img id="preview-image-2" src="https://via.placeholder.com/100x150" width="100px"
                                 height="150px">
                        </label>
                        <div class="center">
                            <input id="file-input-2" type="file"
                                   onchange="document.getElementById('preview-image-2').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                    </div>
                    <div class="image-upload">
                        <label for="file-input-3">
                            <img id="preview-image-3" src="https://via.placeholder.com/100x150" width="100px"
                                 height="150px"
                            >
                        </label>
                        <div class="center">
                            <input id="file-input-3" type="file"
                                   onchange="document.getElementById('preview-image-3').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                    </div>
                </div>
                <br>
                <div class="d-flex justify-content-evenly">
                    <div class="image-upload">
                        <label for="file-input-4">
                            <img id="preview-image-4" src="https://via.placeholder.com/100x150" width="100px"
                                 height="150px">
                        </label>
                        <div class="center">
                            <input id="file-input-4" type="file"
                                   onchange="document.getElementById('preview-image-4').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                    </div>
                    <div class="image-upload">
                        <label for="file-input-5">
                            <img id="preview-image-5" src="https://via.placeholder.com/100x150" width="100px"
                                 height="150px">
                        </label>
                        <div class="center">
                            <input id="file-input-5" type="file"
                                   onchange="document.getElementById('preview-image-5').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                    </div>
                    <div class="image-upload">
                        <label for="file-input-6">
                            <img id="preview-image-6" src="https://via.placeholder.com/100x150" width="100px"
                                 height="150px">
                        </label>
                        <div class="center">
                            <input id="file-input-6" type="file"
                                   onchange="document.getElementById('preview-image-6').src = window.URL.createObjectURL(this.files[0])">
                        </div>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <p class="fw-bold">Thêm ít nhất 2 ảnh để tiếp tục</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <hr class="border border-dark border-1 opacity-50">
            </div>
            <div class="col-2 d-flex justify-content-center">
                <div class="fw-bold">Tùy chọn</div>
            </div>
            <div class="col-5">
                <hr class="border border-dark border-1 opacity-50">
            </div>
        </div>
        <div>
            <div class="col-md-10">
                <label class="form-label fw-bold">Sở thích</label><br>
                <button type="button" class="btn btn-outline-secondary radius fw-bold"><i class="fas fa-plus"></i>
                    Thêm sở thích
                </button>
            </div>
            <br>
            <div class="col-md-10">
                <label class="form-label fw-bold">Khuynh hướng tình dục</label><br>
                <button type="button" class="btn btn-outline-secondary radius fw-bold"><i class="fas fa-plus"></i>
                    Thêm khuynh hướng tình dục
                </button>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn btn-danger fw-bold" style="padding: 10px 30px;margin: 5% 0;">Đăng ký</button>
    </div>
</form>
</body>
</html>