<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Tinder | Hẹn hò & Kết bạn</title>
    <link rel="icon" type="image/png" href="https://img.favpng.com/25/19/25/logo-social-media-vector-graphics-tinder-portable-network-graphics-png-favpng-bDMC4Vf221pkAUzPRrZn99T2M.jpg" sizes="16x16">
    <link rel="stylesheet" href="/assets/home/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" integrity="sha512-rqQltXRuHxtPWhktpAZxLHUVJ3Eombn3hvk9PHjV/N5DMUYnzKPC1i3ub0mEXgFzsaZNeJcoE0YHq0j/GFsdGg==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
<body style="background-image: url(https://tinder.com/static/build/744fe6d80266616aba687006b7d764ad.webp);">
<div class="loadding" id="loadding">
    <img id="logo"src="https://i.pinimg.com/originals/2f/46/94/2f46949b9a458189cb08194a47ff4617.png" />
</div>
<div style="background-color: #00000052;HEIGHT: 100VH;" id="home">
    <div id="success-message"></div>
    <nav class="navbar navbar-expand-lg navbar-light demo">
        <div class="container-fluid">
            <!-- <img src="logotinder-removebg-preview (1).png"> -->
            <h2 class="showbar">Tinder</h2>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">

                    </li>
                </ul>
                <div class="d-flex">
                    <button class="btn btn-login" type="submit">Log in</button>
                </div>
                <div id="login-form" class="login-form">
                    <h3>Log in</h3>
                    <form
                            th:action="@{/login}"
                            method="post"
                            role="form"
                    >
                        <div class="d-flex flex-column">
                            <input type="text" placeholder="Username" id="username" name="username" class="form-control mb-2" style="width: 340px"
                                   oninput="onInput(this)" onfocus="onFocus(this)" onblur="onBlur(this)"/>
                            <span id="username-error" class="invalid-feedback"></span>
                            <input type="password" placeholder="Password" id="password" name="password" class="form-control mt-2" style="width: 340px"
                                   oninput="onInput(this)" onfocus="onFocus(this)" onblur="onBlur(this)"/>
                            <span id="password-error" class="invalid-feedback"></span>
                        </div>
                        <div th:if="${param.error}" class="login-error">
                            <p class="error text-danger">Incorrect username or password</p>
                        </div>
                        <div class="d-flex justify-content-center mt-2">
                            <button type="submit" class="submit" name="submit">Submit</button>
                        </div>
                        <div class="additional-options">
                            <label><input type="checkbox"> Remember me</label>
                            <a href="#">Forgot password?</a>
                        </div>
                        <div class="social-login">
                            <button class="facebook-login"><i class="fab fa-facebook"></i> Login with Facebook</button>
                            <button class="gmail-login"><i class="fab fa-google"></i> Login with Gmail</button>
                            <button class="qr-login"><i class="fas fa-qrcode"></i> Login with QR Code</button>
                        </div>
                    </form>
                    <button id="close-btn" class="btn btn-close"></button>
                </div>
            </div>
        </div>
    </nav>
    <div id="swiperight">
        <h1 class="text-center" style="color: white;font-size: 100px;" id="swipeRightText">SWIPE RIGHT<span class="trademark">®</span>
        </h1>
        <div class="text-center">
            <a href="http://localhost:8080/register">
            <button class="btn btn-register" style="font-size: 20px; color: white; background-image: linear-gradient(to bottom right, #fd326b, #ff5543);">Create Account</button>
            </a>
        </div>
    </div>
</div>
</body>
<script src="/assets/home/homejs.js"></script>
<script>
    // const successMessage = document.getElementById('success-message');
    // successMessage.innerHTML = 'Đăng ký thành công!';
    if(window.location.href.indexOf("error") > -1) {
        document.getElementById("login-form").style.display = "block";
    }
    let isUsernameError = false;
    const onBlur = (input) => {
        // const value = input.value;
        let errorStatus = checkInput(input)
        if (!errorStatus.error) {
            isUsernameError = true;
            document.getElementById(input.id + '-error').innerText = errorStatus.message;
        } else {
            isUsernameError = false;
            document.getElementById(input.id + '-error').innerText = "";
        }
        input.classList.remove("is-invalid", "is-valid");
        input.classList.add(isUsernameError ? "is-invalid" : "is-valid");
    }
    const onInput = (input) => {
        let errorStatus = checkInput(input)
        isUsernameError = !errorStatus.error;
        input.classList.remove("is-invalid", "is-valid");
        input.classList.add(isUsernameError ? "is-invalid" : "is-valid");
    }
    const onFocus = (input) => {
        document.getElementById(input.id + '-error').innerText = "";
        document.getElementsByClassName("login-error")[0].innerText = "";
    }
    function checkInput(input) {
        let value = input.value;
        let regex;
        let message;
        switch (input.id) {
            case "username":
                if (value === "") {
                    message = "Username can't be empty";
                    return {
                        error: false,
                        message
                    }
                } else if (value.length < 5 || value.length > 15) {
                    message = "Username must be between 5 and 15 characters long";
                    return {
                        error: false,
                        message
                    }
                } else {
                    regex = /^[a-zA-Z0-9]{1,15}$/;
                    message = "Username can't have special characters"
                    return {
                        error: regex.test(value),
                        message
                    }
                }
            case "password":
                if (value === "") {
                    message = "Password can't be empty";
                    return {
                        error: false,
                        message
                    }
                } else if (value.length < 5 || value.length > 15) {
                    message = "Password must be between 5 and 15 characters long";
                    return {
                        error: false,
                        message
                    }
                } else {
                    regex = /^[a-zA-Z0-9]{1,15}$/;
                    message = "Password can't have special characters"
                    return {
                        error: regex.test(value),
                        message
                    };
                }
        }
    }
</script>
</html>