.side-bar{
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.wrapper{
    height: 100%;
    margin-left: 400px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.content1 {
    /* padding: 10px;
    padding-top: 0px; */
    position: relative;
    width: 400px;
    height: 600px;
    background-color: black;
    border-radius: 12px;
    margin-top: -100px;
}
.content{
    position: relative;
    width: 400px;
    height: 600px;
    /* background-color: aliceblue; */
    border-radius: 12px;
    /* margin-top: -100px; */
}
.action{
    position: absolute;
    /* bottom: 0; */
    justify-content: space-between;
    background-color: black;
    padding-top: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    margin-left: -4px;
    width: 410px;
    bottom: -17px;
}
/* .info{
    position: absolute;
    z-index: 15;
    bottom: 25%;
    color: white;
    width: 20px;
    margin-left: 5px
} */
.action button{
    padding: 18px;
}
.bottom-button{
    position: absolute;
    bottom: 0;
    left: 580px;
    right: 130px;
    align-items: center;
    justify-content: space-between;
    color: darkgrey;
}
.block-img{
    width: 100%;
    height: 90%;
}
.message{
    background-color: #A6A9AA;
}
/* .block-img::after {
    content: “”;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s;
  } */
.block-img img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.btn-back {
    color: #FCC64A;
    border: 1px solid #FCC64A;
}
.btn-back:hover .back {
    color: #FCC64A;
    filter: brightness(1.3);
    transition: 0.5s;
    scale: 1.3;
}
.close1{
    color: #FE4358 ;
    border: 1px solid #FE4358;
}
.close1:hover .close{
    color: #FE4358 ;
    filter: brightness(1.3);
    transition: 0.5s;
    scale: 1.3;
}
.btn-commen{
    color: #3EC3F9;
    border: 1px solid #3EC3F9;
}
.btn-commen:hover .comment{
    color: #3EC3F9;
    filter: brightness(1.3);
    transition: 0.5s;
    scale: 1.3;
}
.btn-heart{
    color: #2BE6C4;
    border: 1px solid #2BE6C4;
}
.btn-heart:hover .heart{
    color: #2BE6C4;
    filter: brightness(1.3);
    transition: 0.5s;
    scale: 1.3;
}
.btn-ratings{
    color: #B74BF3;
    border: 1px solid #B74BF3;
}
.btn-ratings:hover .rating{
    color: #B74BF3;
    filter: brightness(1.3);
    transition: 0.5s;
    scale: 1.3;
}
.message{
    background-color: #101418;
}
.top-side-bar{
    height: 100px;
    background: linear-gradient(to top right, #FD267A, #FF6036);
}
.avatar{
    width: 43px;
    height: 40px;
    border-radius: 50%;
    background-image: url(https://images-ssl.gotinder.com/0001unknown/172x172_pct_0_0_100_100_unknown.jpg);
    background-position: 50% 50%;
    background-size: auto 100%;
}
.block-avatar{
    border-radius: 12%;
    padding: 5px 8px;
}
.block-avatar:hover{
    background-color: #101418;
}
.name-acount{
    color: white;
}
.acount-action{
    padding: 8px 10px;
    background-color: #21272E;
    border-radius: 50%;
    color: white;
    margin-right: 20px;
}
.acount-action i{
    font-size: 20px;
}
/* --------------------------------- */
/* .phone {
    width: 350px;
    height: 600px;
    font-family: ‘Noto Sans’, sans-serif;
    background: url(http://web.arjentienkamp.com/codepen/tinder/iphone.png);
    background-size: 382px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    padding-top: 7em;
    padding-left: 3.2em;
    padding-right: 3.7em;
} */
.app {
    width: 285px;
    height: 490px;
    background-color:black;
    padding-top: 12px;
}
/* .header {
    background-color: #FFF;
    width:100%;
    height:40px;
    border-bottom: 1px solid #E2E2E2;
    text-align: center;
    margin-bottom: 10px;
} */
/* .header img {
    width:70px;
} */
/* div.photo {
    position:absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:265px;
    height:315px;
    border:1px solid #A6A9AA;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 7px 0px #CFCFCF;
} */
/* span.meta {
    display: block;
    height:48px;
    background-color: #FFF;
    margin-top: 267px;
    border-radius: 0px 0px 8px 8px;
    font-size: 18px;
    box-sizing:border-box;
    padding: 12px;
} */
/* span.meta span {
    float: right;
    color:#cfcfcf;
} */
/* .users {
    display: block;
    width: 20px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/users.png);
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 5px;
} */
/* .moments {
    display: block;
    width: 14px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/moments.png);
    background-size: 26px;
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position: 5px;
} */
/* .chat {
    display: block;
    width: 34px;
    height: 30px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/chat.png);
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 4px;
    background-position: 5px;
    float: right;
    margin-top: 0px;
} */
/* .settings {
    display: block;
    width: 34px;
    height: 30px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/settings.png);
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 4px;
    background-position: 5px;
    float: left;
    margin-top: 0px;
} */
/* .footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 318px;
    width: 100%;
    padding-left: 40px;
    padding-top: 6px;
} */
/* .rate {
    width: 70px;
    height:70px;
    border-radius: 70px;
    background: #FFF;
    border: 5px solid #F0F0F0;
    float: left;
    box-shadow: 1px 1px 1px 0px #E9E9E9;
} */
/* .rate:nth-child(1) {
    margin-left: 4px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/delete.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
.rate:nth-child(3) {
    margin-left: -4px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/heart.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
} */
.info {
    width: 150px;
    height: 40px;
    border-radius: none;
    /* background: #FFF; */
    border: none ;
    /* float: left; */
    /* box-shadow: 1px 1px 1px 0px #E9E9E9; */
    margin-top: 14px;
    margin-left: 15px;
    /* background: url(http://web.arjentienkamp.com/codepen/tinder/info.png); */
    /* background-size: 15px; */
    /* background-position: center;
    background-repeat: no-repeat; */
    position: absolute;
    /* z-index: 15; */
    bottom: 25%;
    color: white;
    margin-left: 5px
}
/* p {
    padding:0;
    margin:0;
    float: left;
} */
/* --------tab---------- */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.tab-button {
    background-color: #121418;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}
.tab-button.active {
    background-color:#121418;
    color: white;
    border-bottom: 3px solid #FD267A;
}
.tab-content {
    display: none;
    padding: 20px;
}
.tab-content.active {
    display: block;
}

#hidebutton{
    background-color: #D3DBD6;
    color: black;
    font-weight: 700;
    border-radius: 30px;
}

#hidebutton:hover{
    filter: brightness(1.6);
    transition: 0.5s;
    font-weight: 900;
}


.bottom-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bottom-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.bottom-button > div {
    margin: 0 15px;
}

.bottom-button > div.hidden {
    display: none;
}

.bottom-button > button {
    transition: transform 0.5s ease;
    transform: translateX(0%);
}

.bottom-button.show-hidden-btn > button {
    transform: translateX(-45%);
}




.emoji-container {
    display: none;
    position: absolute;
    bottom: 40px;
    left: 66%;
    transform: translateX(-50%);
    background-color: #333333;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-wrap: wrap;
    max-width: 223px;
    margin-bottom: 29px;
    padding: 0 3px;
    animation: fadeInOut 0.3s ease-in-out;

}

.scroll-emoji{
    font-size: 20px;
    overflow-y: auto;
    max-height: 200px;
    height: 200px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  .scroll-emoji {
    scrollbar-width: none;
}

.scroll-emoji::-webkit-scrollbar {
    display: none;
}
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(0.8); /* Kích thước ban đầu nhỏ hơn */
        left: 905px
    }
    100% {
        opacity: 1;
        transform: scale(1); /* Kích thước phóng to */
        left: 905px
    }
}

/* Định nghĩa lớp hiển thị khi bạn click vào nút emoji */
.emoji-container-visible {
    display: block;
}

.show {
    display: flex;
}

#emojiButton{
    background: transparent;
    font-size: 38px;
/* margin-left: 94px; */
    margin: 0px -21px;
    margin-top: -2px;
}


.emoji-item {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.emoji-item:hover {
    filter: brightness(1.9);
    background-color: #666666;
}

#show-icon-hover{
    color: white;
}
#show-icon-hover{
    height: 31px;
    padding: 0 5px
}

.divider{
    width: 100%;
    font-size: 23px;

    margin: 3px 0;

    border-top: 3px solid white;
}




.search-container {
    position: relative;
}

input[type="search"] {
    padding: 8px 32px 8px 8px;
    border: 1px solid #ccc;
    border-radius: 7px;
    font-size: 16px;
    outline: none;
    width: 100%;
    transition: border-color 0.3s;
    background-color: #333333;
    color: white;
}

/* Hiệu ứng hover cho input search */
input[type="search"]:hover {
    border-color: #999;
}

/* Thiết kế nút search */
.search-button {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: transparent !important;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.search-button{
    background: transparent;
}

.search-button i {
    margin-right: -17px;
    font-size: 20px;
    color: #999;
}

/* Hiệu ứng hover cho nút search */
.search-button:hover i {
    color: #666;
}


.noFoundEmoji {
    display: none;
    text-align: center;
    margin-top: 53px;
}

.noFoundEmoji i {
    font-size: 50px;
    color: #ccc;
}

.noFoundEmoji h2 {
    font-size: 18px;
    color: #ccc;
    margin-top: 10px;
}

.rounded-circle {
    width: 70px;
    height: 65px;
}

