.side-bar{
    width: 400px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.wrapper{
    height: 100%;
    margin-left: 400px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.content1 {
    /* padding: 10px;
    padding-top: 0px; */
    position: relative;
    width: 400px;
    height: 600px;
    background-color: black;
    border-radius: 12px;
    margin-top: -100px;
}
.content{
    position: relative;
    width: 400px;
    height: 600px;
    /* background-color: aliceblue; */
    border-radius: 12px;
    /* margin-top: -100px; */
}
.action{
    position: absolute;
    /* bottom: 0; */
    justify-content: space-between;
    background-color: black;
    padding-top: 100px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    margin-left: -4px;
    width: 410px;
    bottom: -17px;
}
/* .info{
    position: absolute;
    z-index: 15;
    bottom: 25%;
    color: white;
    width: 20px;
    margin-left: 5px
} */
.action button{
    padding: 18px;
}
.bottom-button{
    position: absolute;
    bottom: 0;
    left: 580px;
    right: 130px;
    align-items: center;
    justify-content: space-between;
    color: darkgrey;
}
.block-img{
    width: 100%;
    height: 90%;
}
.message{
    background-color: #A6A9AA;
}
/* .block-img::after {
    content: “”;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    opacity: 1;
    z-index: 1;
    transition: opacity 0.5s;
  } */
.block-img img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.btn-back {
    color: #F69A1C;
    border: 1px solid #F69A1C;
}
.btn-close{
    color: #E92787;
    border: 1px solid #E92787;
}
.btn-commen{
    color: #2D9EFD;
    border: 1px solid #2D9EFD;
}
.btn-heart{
    color: #5EFACF;
    border: 1px solid #5EFACF;
}
.btn-ratings{
    color: #B817E0;
    border: 1px solid #B817E0;
}
.message{
    background-color: #101418;
}
.top-side-bar{
    height: 100px;
    background: linear-gradient(to top right, #FD267A, #FF6036);
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(https://images-ssl.gotinder.com/0001unknown/172x172_pct_0_0_100_100_unknown.jpg);
    background-position: 50% 50%;
    background-size: auto 100%;
}
.block-avatar{
    border-radius: 12%;
    padding: 5px 8px;
}
.block-avatar:hover{
    background-color: #101418;
}
.name-acount{
    color: white;
}
.acount-action{
    padding: 8px 10px;
    background-color: #21272E;
    border-radius: 50%;
    color: white;
    margin-right: 20px;
}
.acount-action i{
    font-size: 20px;
}
/* --------------------------------- */
/* .phone {
    width: 350px;
    height: 600px;
    font-family: ‘Noto Sans’, sans-serif;
    background: url(http://web.arjentienkamp.com/codepen/tinder/iphone.png);
    background-size: 382px;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    padding-top: 7em;
    padding-left: 3.2em;
    padding-right: 3.7em;
} */
.app {
    width: 285px;
    height: 490px;
    background-color:black;
    padding-top: 12px;
}
/* .header {
    background-color: #FFF;
    width:100%;
    height:40px;
    border-bottom: 1px solid #E2E2E2;
    text-align: center;
    margin-bottom: 10px;
} */
/* .header img {
    width:70px;
} */
/* div.photo {
    position:absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:265px;
    height:315px;
    border:1px solid #A6A9AA;
    border-radius: 8px;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 7px 0px #CFCFCF;
} */
/* span.meta {
    display: block;
    height:48px;
    background-color: #FFF;
    margin-top: 267px;
    border-radius: 0px 0px 8px 8px;
    font-size: 18px;
    box-sizing:border-box;
    padding: 12px;
} */
/* span.meta span {
    float: right;
    color:#cfcfcf;
} */
/* .users {
    display: block;
    width: 20px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/users.png);
    background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position: 5px;
} */
/* .moments {
    display: block;
    width: 14px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/moments.png);
    background-size: 26px;
    background-repeat: no-repeat;
    padding-left: 35px;
    background-position: 5px;
} */
/* .chat {
    display: block;
    width: 34px;
    height: 30px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/chat.png);
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 4px;
    background-position: 5px;
    float: right;
    margin-top: 0px;
} */
/* .settings {
    display: block;
    width: 34px;
    height: 30px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/settings.png);
    background-size: 30px;
    background-repeat: no-repeat;
    padding-left: 4px;
    background-position: 5px;
    float: left;
    margin-top: 0px;
} */
/* .footer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 318px;
    width: 100%;
    padding-left: 40px;
    padding-top: 6px;
} */
/* .rate {
    width: 70px;
    height:70px;
    border-radius: 70px;
    background: #FFF;
    border: 5px solid #F0F0F0;
    float: left;
    box-shadow: 1px 1px 1px 0px #E9E9E9;
} */
/* .rate:nth-child(1) {
    margin-left: 4px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/delete.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
}
.rate:nth-child(3) {
    margin-left: -4px;
    background: url(http://web.arjentienkamp.com/codepen/tinder/heart.png);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
} */
.info {
    width: 150px;
    height: 40px;
    /* background: #FFF; */
    border: none ;
    /* float: left; */
    /* box-shadow: 1px 1px 1px 0px #E9E9E9; */
    margin-top: 14px;
    margin-left: 15px;
    /* background: url(http://web.arjentienkamp.com/codepen/tinder/info.png); */
    /* background-size: 15px; */
    /* background-position: center;
    background-repeat: no-repeat; */
    position: absolute;
    /* z-index: 15; */
    bottom: 25%;
    color: white;
    margin-left: 5px
}
/* p {
    padding:0;
    margin:0;
    float: left;
} */
/* --------tab---------- */
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.tab-button {
    background-color: #121418;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}
.tab-button.active {
    background-color:#121418;
    color: white;
    border-bottom: 3px solid #FD267A;
}
.tab-content {
    display: none;
    padding: 20px;
}
.tab-content.active {
    display: block;
}

#tab1{
display: flex;
    flex-wrap: wrap;
}

#tab1 a{
   text-decoration: none;
}
.showMatch{
    position: relative;
margin-bottom: 20px;
}

.showMatch img{
    width: 100%;
    height: 140px;
    border-radius: 12px;
}
.matchesName{
    position: absolute;
    bottom: 10px;
    left: 20px;
    z-index: 99999;
    color: white;
}





.message-block {
    width: 100%;
    height: 100vh;
}
.message-profile-block {
    width: 550px;
    height: 100vh;
    background-color: red;
}

.chat-container {

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.chat-header {
    padding: 10px;
    height: 70px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #7c8591;
    font-size: 28px;
}

.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
}

.scrollable {
    height: 100%;
    overflow-y: scroll;
    padding-right: 10px;
}

.chat-message-wrapper {
    display: flex;
    flex-direction: column;
}



.chat-input {
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

.chat-input input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-input button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.close-button {
    margin-left: auto;
    border: none;
    cursor: pointer;
    color: #7c8591;
    background: none;
    font-size: 38px;
    transition: all 0.2s ease-in;
}

.close-button:hover {
    transform: rotate(90deg); /* Xoay nút 90 độ khi hover vào */
}

#sendMessageBtn {
    background-color: #21262e;
}

#sendMessageBtn.active {
    background: linear-gradient(135deg, #ff4e4c, #fd3667);
}

#messageInput {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
 }

#chatMessages{
    color: wheat;
}

.chat-message-wrapper {
    overflow-y: scroll;
    max-height: 400px; /* Điều chỉnh chiều cao tối đa của khung chat */
}

.chat-message {
    display: inline-block;
    max-width: 80%;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    overflow-y: hidden;
}
/* Cho trình duyệt Chrome, Safari và Opera */
::-webkit-scrollbar {
    width: 8px; /* Chiều rộng của thanh cuộn dọc */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    /* Thêm gradient cho màu nền */
    background-image: linear-gradient(to bottom, #888, #555);
    /* Hiệu ứng transition khi hover */
    transition: background-color 0.3s;
}



/*#chatMessages .parent {*/
/*    !* Thêm độ cao tối đa cho tin nhắn *!*/
/*    max-height: 200px; !* Điều chỉnh độ cao tối đa tùy ý *!*/
/*    !* Cuộn xuống dưới cùng của khung chat khi có tin nhắn mới *!*/
/*    overflow-y: hidden;*/
/*    overflow-y: auto;*/
/*}*/

.parent {
    width: 100%;
    height: 48px;
}

.parent-right{
    text-align: right;
}

.parent-left{
    text-align: left;
}
/* CSS cho tin nhắn của người gửi */
.sender-message {
    display: inline-block;
    color: white;
    padding: 6px 16px;
    text-align: right;
    float: right;
    background-color: #106BD5;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 8px;
    margin-left: 5px;
}
.parent-right:hover > .date-sent-sender{
    display: inline-block !important;
}
/*.sender-message:hover + .date-sent-sender{*/
/*    display: block;*/
/*}*/


.receiver-message:hover + .date-sent-receiver,
.sender-message:hover + .date-sent-sender{
    display: block;
}

/* CSS cho tin nhắn của người nhận */
.receiver-message {
    display: inline-block;
    color: white;
    text-align: left;
    float: left;
     padding: 6px 16px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin-top: 8px;
    margin-right:  5px;
    background-color: #21262E;
}

.parent-left span.receiver-message:first-child:not(:first-child + img) {
    /* Kiểm tra nếu span.receiver-message là thẻ đầu tiên trong parent và không có img đứng sau nó */
    margin-left: 46px;
}

.avatar-user {
    border-radius: 50%;
    width: 56px;
    height: 51px;
}

.avatar{
    float: left;
    margin-top: 7px;
    margin-right: 4px;
}

.date-sent-sender{
    color: #898686;
    font-size: 14px;
    line-height: 51px;
    display: none;
}

.date-sent-receiver{
    color: #898686;
    font-size: 14px;
    line-height: 51px;
    display: none;
}


.tinder-notification {
    position: fixed;
    bottom: -100%; /* Ẩn thông báo bên dưới màn hình */
    left: 50%;
    transform: translateX(-50%);
    background-color: #111418;
    padding: 20px;
    font-size: 18px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: bottom 0.3s ease-in-out;
    z-index: 9999;
    width: 100%;
    height: 207px;
    line-height: 1.9;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.fade-out {
    animation: fadeOut 1s forwards;
    display: none;
}

#grab {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 53px;
    height: 12px;
    background: linear-gradient(to top right, #FD267A, #FF6036);
    border-radius: 10px;
    cursor: grab;
}

#seeAllUsers{
    color: white;
    text-align: center;
    font-size: 23px;
    padding: 10px;
}

#expandAge{
    color: white;
    text-align: center;
    font-size: 21px;
}

#backToDiscover{
    background: linear-gradient(to top right, #FE3F5C, #FC646B);
    width: 100%;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 4px;
    margin: 16px 0;
}

.tab-content{
    overflow-y: auto;
    max-height: 600px;
}
.tab-content::-webkit-scrollbar {
    display: none;
}

#next{
    margin-left: 361px;
    border: navajowhite;
    background: transparent;
    color: white;
    font-size: 53px;
}

#previous{
    font-size: 53px;
    background: transparent;
    border: none;
    margin-left: -25px;
    color: white;
}



#photo-count {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    font-size: 22px;
    font-weight: bolder;
}

#photo-count span {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 2px;
    background-color: #666;
    border-radius: 50%;
}

/* Điều chỉnh màu sắc cho từng khúc trượt */
#photo-count span:nth-child(1) {
    background-color: #f00;
}

#photo-count span:nth-child(2) {
    background-color: #0f0;
}

#photo-count span:nth-child(3) {
    background-color: #00f;
}

/* Thêm các khúc trượt phụ thuộc vào số lượng ảnh của người dùng */
#photo-count[data-photo-count="1"] span:nth-child(1) {
    display: block;
}

#photo-count[data-photo-count="2"] span:nth-child(1),
#photo-count[data-photo-count="2"] span:nth-child(2) {
    display: block;
}

#photo-count[data-photo-count="3"] span:nth-child(1),
#photo-count[data-photo-count="3"] span:nth-child(2),
#photo-count[data-photo-count="3"] span:nth-child(3) {
    display: block;
}

#photo-count {
    --photo-count: 1;
}

#count-img  {
    transition: color 0.5s ease;
}


